@using Foody.Models
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        Home Page
    </title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Foody
                </h1>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="loginDisplay">
                        @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "btn btn-link" })|<input type="submit" value="Log Out" class="btn btn-link" />
                    </div>
                }

            }
            else
            {
                <div class="loginDisplay">
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-link" })|@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-link" })
                </div>
            }
            <div class="clear hideSkiplink">
                @*@{
                        int maxLevel = Menu.GetMaxLevelMenu(User.Identity.Name);
                    }*@
                @{
                    <div id="cssmenu">
                        <ul>
                            @{
                                List<Menu> menuLevel0 = Menu.GetMenus(string.Empty, 0, User.Identity.Name);

                                foreach (Menu menuL0 in menuLevel0)
                                {
                                    List<Menu> menuLevel1 = Menu.GetMenus(menuL0.MenuId, 1, User.Identity.Name);
                                    if (menuLevel1.Count > 0)
                                    {
                                        <li class="has-sub">
                                            <a href="@menuL0.GetMenuUrl()">@menuL0.MenuName</a>
                                            <ul>

                                                @foreach (Menu menuL1 in menuLevel1)
                                                {
                                                    List<Menu> menuLevel2 = Menu.GetMenus(menuL1.MenuId, 2, User.Identity.Name);
                                                    if (menuLevel2.Count > 0)
                                                    {
                                                        <li class="has-sub">
                                                            <a href="@menuL1.GetMenuUrl()">@menuL1.MenuName</a>
                                                            <ul>
                                                                @foreach (Menu menuL2 in menuLevel1)
                                                                {
                                                                    <li class="has-sub">
                                                                        <a href="@menuL2.GetMenuUrl()">@menuL2.MenuName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="@menuL1.GetMenuUrl()">@menuL1.MenuName</a></li>
                                                    }

                                                }

                                            </ul>
                                        </li>

                                    }
                                    else
                                    {
                                        <li><a href="@menuL0.GetMenuUrl()">@menuL0.MenuName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        &copy; @DateTime.Now.Year Foody
    </div>
</body>
@RenderSection("scripts", required: false)
</html>