@model PagedList.IPagedList<Foody.Models.Menu>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Menu List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Menu", FormMethod.Get))
{
    <p>
        @*Search By:  <input id="SearchString" name="SearchString" placeholder="Menu Id, Menu Name, Controller Name or Action Name" size="43"  />*@
        Search By: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Menu Id, Menu Name, Controller Name or Action Name", @size = "43" })
        <input type="submit" value="Search" />
    </p>
}
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="info">
            <th>
                Menu ID
            </th>
            <th>
                @Html.ActionLink("Menu Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Controller Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Action Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Hierarchy Level", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Ordinal
            </th>
            <th>
                Menu Type
            </th>
            <th>
                Parent<br />Menu Id
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdatedBy)
                </th>*@
            <th>
                More...
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HierarchyLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName.Where ())
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                    </td>*@
                <td width="130px" align="center">
                    @if ("b45e7c24-6f41-498a-bc0f-2a159439f76d,f74ee4fb-6550-42dc-9faa-4af75d03d294,384b8543-0a5f-40d3-955e-6cffd82cf10c,a2de9064-9cb8-4beb-b63f-201866a3c13c,89b74368-6ca9-4c73-8f45-6673da9db06d,235c0d27-6c14-437f-9d3b-88430810a21f,6aeec761-62f4-4369-9459-6c5af4c4cbbe".Contains(item.MenuId))
                    {
                        @*@Html.ActionLink("Details", "Details", new { id = item.MenuId })*@
                    }
                    else
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.MenuId })
                        @*@Html.ActionLink("Details |", "Details", new { id = item.MenuId })*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.MenuId })
                    }

                </td>
            </tr>
        }

    </table>
    <br />
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
   
</div>
