@model Foody.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}
<div id="foodyForm">
    <h2>Change password current account.</h2>
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.ValidationSummary("Error occur during process your request...")
        </p>

        @Html.HiddenFor(model => model.UserName)

        <fieldset>
            <legend>Registration Form</legend>
            <table>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(model => model.OldPassword)
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.OldPassword)
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </td>
                    </tr>*@
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(model => model.NewPassword)
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword)
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </td>
                    </tr>*@
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmPassword)
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </td>
                    </tr>*@
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>