@model PagedList.IPagedList<Foody.Models.Account>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Account Management";
}

<h2>Account List</h2>

<p>
    @Html.ActionLink("Create New", "Register", "Account")
</p>
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <p>
        @*Search By:  <input id="SearchString" name="SearchString" placeholder="Menu Id, Menu Name, Controller Name or Action Name" size="43"  />*@
        Search By: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "User Name, Display Name or Email", @size = "35" })
        <input type="submit" value="Search" />
    </p>
}
<div>
    <table class="table table-bordered">
        <tr class="info">
            <th>
                @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Display Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Status
            </th>
            <th>
                Last Updated<br />Date Time
            </th>
            <th>
                Last Updated By
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                </td>
                <td width="130px" align="center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserName })
                </td>
            </tr>
        }
    </table>
    <br />
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>
