@model Foody.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="foodyForm">
    <h2>Use a local account to log in.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.ValidationSummary("Error occur during process your request...")
        </p>

        <fieldset>
            <legend>Log In Form</legend>
            <table>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Enter username" })
                    </td>
                </tr>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "******" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Log in" />
                    </td>
                </tr>
            </table>
        </fieldset>
        <p>
            Not a member yet? @Html.ActionLink("Join us", "Register") now.
        </p>
    }
</section>

@*<section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}