@model Foody.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div id="foodyForm">
    <h2>Create new local account.</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.ValidationSummary("Error occur during process your request...")
        </p>

        <fieldset>
            <legend>Registration Form</legend>
            <table>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.UserName)
                    </td>
                </tr>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email)
                    </td>
                </tr>
                <tr>
                    <td class="field-lable">
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.DisplayName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DisplayName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Register" />
                    </td>
                </tr>
            </table>
        </fieldset>
        if (String.IsNullOrEmpty( User.Identity.Name))
        {
            <p>
                Already a member? Go and @Html.ActionLink("Log in", "Login").
            </p>
        }

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
